.site-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media screen and (min-width: 800px) {
  .site-container {
    flex-direction: row;
  }
}

.site-container .site-section {
  flex: 1 1 0;
}
